# 1. Dependency Directories (Too heavy)
node_modules
dist

# 2. System Files (Junk)
.DS_Store

# 3. Security & Secrets (NEVER UPLOAD THESE)
.env
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-meta.json
amplify/mock-data
amplify/#current-cloud-backend
amplify/.config/local-*

# Note: We are NOT ignoring 'amplify/' anymore, 
# so your Lambda code will successfully go to GitHub.
